body,
html {
    background-color: #fafafa !important;
    box-sizing: border-box;
}

.header {
    background-color: #e24301;
    height: 75px;
}

.call-to-action {
    background-color: #e24301;
    position: relative;
    height: 15%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.call-to-action-text {
    text-align: right;
    width: 100%;
}

.social {
    height: 18px;
    margin: 3px;
}

.gradient {
    height: 100%;
    background-image: linear-gradient(to bottom, #00000096, #00000096);
}

.icon-feature {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.text-position {
    color: white;
    margin: 0 auto;
    position: absolute;
    left: 15%;
    top: 35%;
    text-align: left;
}

.projects-button {
    width: 150px;
    text-align: left;
}

.hero-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 10px !important;
}

p {
    margin-bottom: 0px !important;
}

@media screen and (max-width: 600px) {
    .projects-button {
        text-align: center;
        width: 90%;
    }
    .text-position {
        width: 100%;
        color: white;
        margin: 0 auto;
        position: relative;
        left: 4%;
        top: 30%;
        text-align: center;
    }
    .call-to-action-text {
        text-align: center;
    }
    .hero-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

a {
    color: white !important;
}

.hero {
    height: 75%;
    background-image: url('./images/skyline.jpg'), linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.footer {
    background-color: #434343;
}